
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="shop-banner">
    <div class="container">
        <div class="sale-percent"><span>EL <br><br> </span>VARON <span>ABOUT</span></div>
    </div>
</section>

<section id="mision-vision" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Nuestra Misión</h2>
                <p class="lead">
                    En nuestro restaurante elegante en Turrialba, nos esforzamos por ofrecer una experiencia culinaria excepcional, donde la calidad, la creatividad y el servicio se unen para crear momentos inolvidables para nuestros clientes. Nos dedicamos a resaltar la riqueza de los ingredientes locales y a proporcionar un ambiente acogedor y elegante para que nuestros clientes disfruten de una comida extraordinaria.
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="mb-4">Nuestra Visión</h2>
                <p class="lead">
                    Aspiramos a ser reconocidos como el restaurante más distinguido de Turrialba, Costa Rica, ofreciendo una combinación perfecta de cocina gourmet, vistas espectaculares y un servicio impecable. Nos esforzamos por ser líderes en la industria gastronómica, superando las expectativas de nuestros clientes y creando experiencias culinarias que perduran en la memoria de quienes nos visitan. Además, nos comprometemos a preservar y promover la cultura culinaria local y a contribuir positivamente a nuestra comunidad.
                </p>
            </div>
        </div>
    </div>


    <div class="mt-150">
        <div class="container">

            <br /><br />
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-item">
                        <div class="team-bg team-bg-1"></div>
                        <h4 class="facebook-heading">FACEBOOK</h4>
                        <ul class="social-link-team">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-team-item">
                        <div class="team-bg team-bg-2"></div>
                        <h4 class="twitter-heading">TWITTER</h4>
                        <ul class="social-link-team">
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="single-team-item">
                        <div class="team-bg team-bg-3"></div>
                        <h4 class="instagram-heading">INSTAGRAM</h4>
                        <ul class="social-link-team">
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>